
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

// variables

// Typography

$myfont: 'Barlow Semi Condensed', sans-serif;
$myFontSize: 13px;

// colors

$primaryColor1: hsl(263, 55%, 53%);
$primaryColor2: hsl(217, 19%, 35%);
$primaryColor3: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$neutralColor1: hsl(0, 0%, 81%);
$neutralColor2: hsl(210, 46%, 95%);

.attribution { font-size: 11px; text-align: center; margin: 20px 0 0 0; height: 50px;}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // border: 1px red dotted;
}

body {
    background-color: $neutralColor2;
    font-family: $myfont;
    font-size: $myFontSize;
}

// grid

.testimonials {
    margin: 0px 24px;

    .test-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        max-width: 328px;
        margin: 70px auto;
    }

}

// testimonial items

.test-item {
    background-color: $white;
    color: $primaryColor2;
    padding: 0 33px;
    height: 100%;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 8px 20px -15px $primaryColor3;

    .test-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 25px 0px 17px 0px;
        
        .avatar {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: 2px solid $white;
            margin-right: 15px;
        }

        .test-name-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 28px;

            .name {
                font-weight: 500;
                font-size: $myFontSize;
                letter-spacing: .2px;
            }

            .verified {
                opacity: 50%;
                font-size: 11px;
            }
        }
    }

    .test-content {

        .review {
            margin-bottom: 19px;
            max-width: 255px;
        }
    
        .quote {
            max-width: 252px;
            opacity: 50%;
            margin-bottom: 30px;
            font-size: $myFontSize;
        }
    }

}

.test-item.highlight {
    background-color: $primaryColor1;
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 32px top ;
    color: $white;
    
    .avatar {
        border: 2px solid lighten($primaryColor1, 15%);
    }
}

.test-item:nth-of-type(2) {
    background-color: $primaryColor2;
    color:$white;

    .avatar {
        border: 2px solid $primaryColor2;
    }

}

.test-item:nth-of-type(4) {
    background-color: $primaryColor3;
    color:$white;

    .avatar {
        border: 2px solid $primaryColor1;
    }
}

@media only screen and (min-width: 600px) {

    .testimonials {
    
        .test-grid {
            grid-template-columns: 255px 255px ;
            grid-template-rows: (280px 266px 266px 280px);

            max-width: 540px;
            margin: 70px auto;
        }
    
    }


.test-item {
    .test-content {

        .review {
            max-width: 100%;
        }
    
        .quote {
            max-width: 470px;
        }
    }

}

    .test-item.highlight {
        background-position: right 80px top ;
    }

    .test-item:nth-of-type(1) {
        grid-column: span 2;
    }

    .test-item:nth-of-type(3) {
        grid-column: span 1;
    }

    .test-item:nth-of-type(4) {
        grid-column: span 2;
    }

    .test-item:nth-of-type(5) {
       grid-column: span 2;
    }

}


@media only screen and (min-width: 992px) {
    .testimonials {
    
        .test-grid {
            margin: 100px auto;     
            max-width: 100%;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: (255px 255px 255px );
            grid-template-rows: (280px 266px 280px);
        }
    
    }

}

@media only screen and (min-width: 1200px) {
    .testimonials {
                
        .test-grid {
            margin: 164px 0;     
            grid-template-columns: (255px 255px 255px 255px);
            grid-template-rows: (280px 266px);
        }
    
    }

    .test-item:nth-of-type(1) {
        grid-row: 1 / 2;
    }

    .test-item:nth-of-type(3) {
        grid-row: 2 / 3;
    }

    .test-item:nth-of-type(4) {
        grid-row: 2 / 3;
    }

    .test-item:nth-of-type(5) {
        grid-column: span 1;
        grid-row: 1 / 3;
    }
    
}